.card {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60%;
  padding: 3% 5%;
  background: var(--color-background-mute);
}

.card__title {
  font-size: 2em;
  font-weight: bold;
}

.card__group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}